################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CantidadInformacion/.vs/CantidadInformacion/v16/Server/sqlite3
